*,
*:before,
*:after {
 box-sizing: border-box;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* project styles */
body {
    font: 28px 'Montserrat', sans-serif;
}

/* header */
.header {
    padding: 80px 0;
    position: relative;
}
.logo {
    width: 100px;
    height: 60px;
    margin: 0 auto 80px;
    display: block;
}

/* header nav  */
.nav {
    display: flex;
    justify-content: center;
}
.nav-item {
    margin: 0 40px;
}
.nav-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}

/* header list menu-open */
.list {
    display: none;
    justify-content: center;
}
.list-item {
    margin: 0 40px;
}
.list-link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.list-link:hover {
    text-decoration: underline;
}

/* header btn-burger */
.btn-burger {
    width: 48px;
    height: 31px;
    position: absolute;
    top: 56px;
    left: 48px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: none;
    outline: none;
}
.btn-burger-line {
    width: 48px;
    height: 5px;
    background: #000;
    display: block;
    transition: .5s ease-in-out;
}
.btn-burger-line:before,
.btn-burger-line:after {
    content: "";
    width: 48px;
    height: 5px;
    background: #000;
    display: block;
    position: absolute;
    cursor: pointer;
    outline: none;
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
}
.btn-burger-line:after{
    top: 26px;
}


/* form  */
.header .contact-form {
display: none;
}


/* carouse */
.carousel img {
    width: 400px;
    height: 200px;
}
.carousel .slick-dots {
    display: flex;
    justify-content: center;
}
.carousel .slick-dots li {
    margin: 0 5px;
}
.carousel .slick-dots li button {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
    font-size: 0;
    text-indent: -9999px;
    padding: 0;
    outline: none;
}
.carousel .slick-dots li.slick-active button {
    background: #000;
}

/* about */


/* info */


/* contact */









/* tablet */
@media only screen
and (min-width: 1025px)
and (max-width: 1200px) {
    .btn-burger {
        display: block;
    }
    .nav {
        display: none;
    }
    .menu-open .carousel {
        margin-top: 192px;
    }
    .menu-open .header {
        background: #000;
        padding: 48px;
        transition: .25s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 600px;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .list {
        display: flex;
    }
    .menu-open .btn-burger .btn-burger-line:after,
    .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .header .contact-form {
        display: block;
    }
}

@media only screen
and (min-width: 769px)
and (max-width: 1024px) {
    .btn-burger {
        display: block;
    }
    .nav {
        display: none;
    }
    .menu-open .carousel {
        margin-top: 192px;
    }
    .menu-open .header {
        background: #000;
        padding: 48px;
        transition: .25s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 600px;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .list {
        display: flex;
        margin-bottom: 80px;
    }
    .menu-open .btn-burger .btn-burger-line:after,
    .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .header .contact-form {
        display: block;
    }
}

/* mobile */
@media only screen
and (min-width: 376px)
and (max-width: 768px) {
    .btn-burger {
        display: block;
        top: 23px;
        left: 20px;
    }
    .nav {
        display: none;
    }
    .menu-open .header {
        background: #000;
    }
    .menu-open .logo {
        margin: 0 0 80px auto;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .btn-burger .btn-burger-line:after,
    .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .header .contact-form {
        display: block;
    }
}


@media only screen
and (min-width: 0)
and (max-width: 376px) {
    .btn-burger {
        display: block;
        top: 23px;
        left: 20px;
    }
    .nav {
        display: none;
    }
    .menu-open .header {
        background: #000;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .btn-burger .btn-burger-line:after,
    .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .header .contact-form {
        display: block;
    }
}