*,
*:before,
*:after {
 box-sizing: border-box;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* project styles */
body {
    font: 28px 'Montserrat', sans-serif;
}

/* header */
.header {
    padding: 80px 0;
    position: relative;
}
.logo {
    width: 100px;
    height: 60px;
    margin: 0 auto 80px;
    display: block;
}

/* header nav  */
.nav {
    display: flex;
    justify-content: center;
}
.nav-item {
    margin: 0 40px;
}
.nav-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}

/* header btn-burger */
.btn-burger {
    width: 48px;
    height: 31px;
    position: absolute;
    top: 56px;
    left: 48px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: none;
}
.btn-burger-line {
    width: 48px;
    height: 5px;
    background: #000;
    display: block;
}
.btn-burger-line:before,
.btn-burger-line:after {
    content: "";
    width: 48px;
    height: 5px;
    background: #000;
    display: block;
    position: absolute;
    cursor: pointer;
    outline: none;
    top: 0;
    left: 0;
}
.btn-burger-line:after{
    top: 26px;
}

/* form  */
.header .contact-form {
display: none;
}

/* carouse */
.carousel img {
    width: 400px;
    height: 200px;
}
.carousel .slick-dots {
    display: flex;
    justify-content: center;
}
.carousel .slick-dots li {
    margin: 0 5px;
}
.carousel .slick-dots li button {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
    font-size: 0;
    text-indent: -9999px;
    padding: 0;
    outline: none;
}
.carousel .slick-dots li.slick-active button {
    background: #000;
}
/*content*/
.content {
    width: 1024px;
    margin: 0 auto;
}
/* about */
.about {
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 80px 0;
}
/* info */
.info {
    border-bottom: 1px solid #000;
}
.title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 16px 0 15px;
    margin: 0 0 60px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 60px;
}
.box {
    display: flex;
    align-items: center;
    padding: 70px 50px 50px;
    width: 500px;
    background-color: #000;
    color: #fff;
    font-size:  18px;
    line-height: 22px;
}
.date {
    font-size: 48px;
    line-height: 22px;
}

/* contact */

/* tablet */
@media only screen
and (min-width: 1025px)
and (max-width: 1200px) {
    .btn-burger {
        display: block;
    }
    .nav {
        display: none;
    }
    .menu-open .header {
        background: #000;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .btn-burger .btn-burger-line,
    .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        transform: rotate(45deg);
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(90deg);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        display: none;
    }
    .menu-open .header .contact-form {
        display: block;
    }
    /*content*/
    .content {
    width: 928px;
    }
    .about {
        font-size: 20px;
        line-height: 24px;
        padding: 48px 52px;
    }
    .title {
        font-size: 28px;
        line-height: 34px;
        margin: 0 0 32px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 32px;
        padding: 67px 48px 48px;
    }
}

@media only screen
and (min-width: 769px)
and (max-width: 1024px) {
    

    /*content*/
    .content {
    width: 928px;
    }
    .about {
        font-size: 20px;
        line-height: 24px;
        padding: 48px 52px;
    }
    .title {
        font-size: 28px;
        line-height: 34px;
        margin: 0 0 32px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 32px;
        padding: 67px 48px 48px;
    }
}

/* mobile */
@media only screen
and (min-width: 376px)
and (max-width: 768px) {
    .btn-burger {
        display: block;
    }
    .btn-burger-line,
    .btn-burger-line:before,
    .btn-burger-line:after {
        background: #fff;
    }
    .nav {
        display: none;
    }
    .menu-open .header {
        background: #000;
    }
    .menu-open .logo {
        margin: 0 0 80px auto;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .header .contact-form {
        display: block;
    }
    .menu-open .btn-burger .btn-burger-line,
    .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        transform: rotate(45deg);
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(90deg);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        display: none;
    }
    /*content*/
    .content {
        width: 335px;
    }
    .about {
        font-size: 16px;
        line-height: 20px;
        padding: 29px 0;
    }
    .title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 24px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 24px;
        padding: 20px 20px 27px;
        font-size:  16px;
        line-height: 20px;
    }
    .date {
        display: block;
        font-size: 24px;
        line-height: 29px;
    }
}


@media only screen
and (min-width: 0)
and (max-width: 375px) {
    

    /*content*/
    .content {
        width: 335px;
    }
    .about {
        font-size: 16px;
        line-height: 20px;
        padding: 29px 0;
    }
    .title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 24px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 24px;
        padding: 20px 20px 27px;
        font-size:  16px;
        line-height: 20px;
    }
    .date {
        display: block;
        font-size: 24px;
        line-height: 29px;
    }
}