*, *:before, *:after {
    box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* project styles */

body {
    font: 28px 'Montserrat', sans-serif;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

/* header */

.header {
    padding: 80px 0;
    position: relative;
}
.logo {
    width: 100px;
    height: 60px;
    margin: 0 auto 80px;
    display: block;
}

/* header nav  */

.nav {
    display: flex;
    justify-content: center;
}
.nav-item {
    margin: 0 40px;
}
.nav-link {
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}

/* header list menu-open */

.list {
    display: none;
    justify-content: center;
    margin-bottom: 80px;
}
.list-item {
    margin: 0 40px;
}
.list-link {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}
.list-link:hover {
    text-decoration: underline;
}

/* header btn-burger */

.btn-burger {
    width: 48px;
    height: 31px;
    position: absolute;
    top: 56px;
    left: 0px;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    display: none;
    outline: none;
}
.btn-burger-line {
    width: 48px;
    height: 5px;
    background: #000;
    display: block;
    transition: .5s ease-in-out;
}
.btn-burger-line:before, .btn-burger-line:after {
    content: "";
    width: 48px;
    height: 5px;
    background: #000;
    display: block;
    position: absolute;
    cursor: pointer;
    outline: none;
    top: 0;
    left: 0;
    transition: .5s ease-in-out;
}
.btn-burger-line:after {
    top: 26px;
}

/* header form  */

.header-form {
    border: 1px solid #fff;
    display: none;
    position: relative;
    height: 120px;
}
.header-textarea {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 48px 235px 48px 30px;
    border: none;
    font: 18px 'Montserrat', sans-serif;
    background-color: #000;
    color: #fff;
    overflow: auto;
    outline: none;
    resize: none;
}
.header-textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.header-button {
    font: 28px 'Montserrat', sans-serif;
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 200px;
    height: 60px;
    background: #fff;
    color: #000;
    border-radius: 8px;
    text-transform: uppercase;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.header-button:hover {
    background: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

/* carousel */

.carousel img {
    width: 400px;
    height: 200px;
    margin: 0 auto;
}
.carousel .slick-dots {
    display: flex;
    justify-content: center;
}
.carousel .slick-dots li {
    margin: 40px 5px 80px;
}
.carousel .slick-dots li button {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
    font-size: 0;
    text-indent: -9999px;
    padding: 0;
    outline: none;
}
.carousel .slick-dots li.slick-active button {
    background: #000;
}

/*content*/

.content {
    width: 1024px;
    margin: 0 auto;
}
.about {
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 0 0 80px 0;
}
.info {
    border-bottom: 1px solid #000;
}
.title {
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding: 16px 0 15px;
    margin: 0 0 60px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 0 0 60px;
}
.box {
    display: flex;
    align-items: center;
    padding: 70px 50px 50px;
    width: 500px;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 22px;
}
.date {
    font-size: 48px;
    line-height: 22px;
}

/* form */

.contact-form .title {
    margin-bottom: 47px;
}
.contact-form {
    width: 100%;
    margin: 0 auto 80px;
}
.area {
    border: 1px solid #000;
    display: flex;
}
.textarea {
    font: 18px 'Montserrat', sans-serif;
    margin: 0;
    border: none;
    line-height: 22px;
    color: #000;
    padding: 40px 0 40px 30px;
    overflow: auto;
    flex-grow: 1;
    resize: none;
    outline: none;
}
.textarea::placeholder {
    line-height: 40px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
.textarea:focus::placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.button {
    font: 28px 'Montserrat', sans-serif;
    width: 200px;
    height: 60px;
    background: #000;
    color: #fff;
    line-height: 34px;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    margin: 30px;
    padding: 0;
    border: 0;
    outline: none;
    transition: transform 0.5s ease;
    cursor: pointer;
}
.button:hover {
    background: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

/* tablet */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .wrapper {
        padding: 0 48px;
    }
    /* header */
    .header {
        padding: 48px 0 96px;
    }
    .btn-burger {
        display: block;
    }
    .nav {
        display: none;
    }
    .logo, .logo svg {
        margin: 0 auto;
        width: 80px;
        height: 48px;
    }
    /* menu open */
    .menu-open {
        margin-top: 192px;
    }
    .menu-open .header {
        background: #000;
        padding: 48px 53px 156px;
        transition: .25s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    .menu-open .logo {
        margin-bottom: 124px;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .list {
        display: flex;
    }
    .menu-open .btn-burger {
        left: 48px;
    }
    .menu-open .btn-burger .btn-burger-line:after, .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .header-form {
        display: flex;
    }
    /*content*/
    .content {
        width: 100%;
    }
    .about {
        font-size: 20px;
        line-height: 24px;
        padding: 0 52px 48px;
    }
    .title {
        font-size: 28px;
        line-height: 34px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 32px;
        padding: 67px 48px 48px;
    }
    /* form */
    .contact-form .title {
        margin-bottom: 32px;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .wrapper {
        padding: 0 48px;
    }
    /* header */
    .btn-burger {
        display: block;
    }
    .nav {
        display: none;
    }
    .header {
        padding: 48px 0 96px;
    }
    .logo, .logo svg {
        margin: 0 auto;
        width: 80px;
        height: 48px;
    }
    /* carousel */
    .carousel .slick-dots li {
        margin: 39px 5px 49px;
        font-size: 0;
    }
    /* menu-open */
    .menu-open {
        margin-top: 192px;
    }
    .menu-open .header {
        background: #000;
        padding: 48px 53px 156px;
        transition: background .25s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        width: 100%;
    }
    .menu-open .logo {
        margin-bottom: 124px;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .list {
        display: flex;
        margin-bottom: 80px;
    }
    .menu-open .btn-burger {
        left: 48px;
    }
    .menu-open .btn-burger .btn-burger-line:after, .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .header-form {
        display: flex;
    }
    /* content */
    .content {
        width: 100%;
    }
    .about {
        font-size: 20px;
        line-height: 24px;
        padding: 0 52px 48px;
    }
    .title {
        font-size: 28px;
        line-height: 34px;
        margin: 0 0 32px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 32px;
        padding: 67px 48px 48px;
    }
    /* form */
    .contact-form .title {
        margin-bottom: 32px;
    }
}

/* mobile */

@media only screen and (min-width: 376px) and (max-width: 768px) {
    .wrapper {
        padding: 0;
        margin: 0;
    }
    /* header */
    .btn-burger {
        display: block;
        top: 23px;
        left: 20px;
    }
    .nav {
        display: none;
    }
    .header {
        padding: 48px 0 60px;
    }
    .logo, .logo svg {
        margin: 0 auto;
    }
    .carousel .slick-dots li {
        margin: 39px 5px 49px;
        font-size: 0;
    }
    /* menu-open */
    .menu-open {
        margin: 0;
        padding: 0;
    }
    .menu-open .header {
        background: #000;
        min-height: 100vh;
        width: 100%;
        position: relative;
        padding: 80px 0;
    }
    .menu-open .logo {
        position: absolute;
        top: 24px;
        right: 20px;
        z-index: 2;
        width: 80px;
        height: 48px;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .logo svg {
        width: 80px;
        height: 48px;
    }
    .menu-open .btn-burger {
        left: 20px;
    }
    .menu-open .btn-burger .btn-burger-line:after, .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .list {
        display: flex;
        flex-direction: column;
        padding: 48px 20px;
        margin: 0;
    }
    .menu-open .list .list-item:last-child {
        margin-bottom: 0;
    }
    .menu-open .list .list-item {
        margin: 0 0 48px;
    }
    .menu-open .header-form {
        display: flex;
        flex-direction: column;
        margin: 42px 20px 20px;
        padding: 0;
        height: 150px;
    }
    .menu-open .header-button {
        bottom: -80px;
        left: 0;
        width: 100%;
        font-size: 24px;
        line-height: 29px;
    }
    .menu-open .header-textarea {
        text-align: center;
        padding: 20px;
        height: 150px;
    }
    /* content */
    .content {
        width: 100%;
        padding: 0 20px;
    }
    .about {
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 23px;
    }
    .title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 24px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 24px;
        padding: 20px 20px 27px;
        font-size: 16px;
        line-height: 20px;
    }
    .date {
        display: block;
        font-size: 24px;
        line-height: 29px;
    }
    /* form */
    .contact-form {
        margin: 0 auto 50px;
    }
    .contact-form .title {
        margin-bottom: 24px;
    }
    .contact-form .form .area {
        border: none;
        display: block;
    }
    .form .area .textarea {
        min-height: 150px;
        max-height: 150px;
        width: 100%;
        border: 1px solid #000;
        padding: 20px;
        margin: 0 0 19px 0;
    }
    .form .area .button {
        width: 100%;
        height: 60px;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
    }
    .textarea::placeholder {
        text-align: center;
        line-height: 22px;
    }
}
@media only screen and (min-width: 0) and (max-width: 376px) {
    .wrapper {
        padding: 0;
    }
    /* header */
    .btn-burger {
        display: block;
        top: 23px;
        left: 20px;
        z-index: 1;
    }
    .btn-burger-line, .btn-burger-line:before, .btn-burger-line:after {
        background: #fff;
    }
    .nav {
        display: none;
    }
    .logo {
        display: none;
    }
    .header {
        position: absolute;
    }
    .carousel .slick-dots li {
        margin: 24px 4px;
        font-size: 0;
    }
    .carousel .slick-dots li button {
        width: 8px;
        height: 8px;
        border: solid 1px #000;
    }
    .menu-open .header {
        background: #000;
        height: 100vh;
        width: 100%;
        position: relative;
    }
    .menu-open .logo {
        width: 80px;
        height: 48px;
        display: block;
        position: absolute;
        z-index: 3;
        top: 24px;
        right: 20px;
    }
    .menu-open .logo svg * {
        fill: #fff;
    }
    .menu-open .logo svg {
        width: 80px;
        height: 48px;
    }
    .menu-open .btn-burger .btn-burger-line:after, .menu-open .btn-burger .btn-burger-line:before {
        background: #fff;
    }
    .menu-open .btn-burger .btn-burger-line {
        background: transparent;
    }
    .menu-open .btn-burger .btn-burger-line:before {
        transform: rotate(45deg) translate(6px, 12px);
    }
    .menu-open .btn-burger .btn-burger-line:after {
        transform: rotate(-45deg) translate(6px, -12px);
    }
    .menu-open .list {
        display: flex;
        flex-direction: column;
        padding: 48px 20px;
        margin: 0;
    }
    .menu-open .list .list-item:last-child {
        margin-bottom: 0;
    }
    .menu-open .list .list-item {
        margin: 0 0 48px;
    }
    .menu-open .header-form {
        display: flex;
        flex-direction: column;
        margin: 42px 20px 20px;
        padding: 0;
        height: 150px;
    }
    .menu-open .header-button {
        bottom: -80px;
        left: 0;
        width: 100%;
        font-size: 24px;
        line-height: 29px;
    }
    .menu-open .header-textarea {
        text-align: center;
        padding: 20px;
        height: 150px;
    }
    /*content*/
    .content {
        width: 100%;
        padding: 0 20px;
    }
    .about {
        font-size: 16px;
        line-height: 20px;
        padding: 0 0 23px;
    }
    .title {
        font-size: 20px;
        line-height: 24px;
        margin: 0 0 24px;
    }
    .container {
        display: block;
        padding: 0;
    }
    .box {
        width: auto;
        margin: 0 0 24px;
        padding: 20px 20px 27px;
        font-size: 16px;
        line-height: 20px;
    }
    .date {
        display: block;
        font-size: 24px;
        line-height: 29px;
    }
    /* form  */
    .contact-form {
        margin: 0 auto 50px;
    }
    .contact-form .title {
        margin-bottom: 24px;
    }
    .contact-form .form .area {
        border: none;
        display: block;
    }
    .form .area .textarea {
        min-height: 150px;
        max-height: 150px;
        width: 100%;
        border: 1px solid #000;
        margin: 0 0 19px 0;
        padding: 20px;
    }
    .form .area .button {
        width: 100%;
        height: 60px;
        font-size: 24px;
        line-height: 29px;
        margin: 0;
    }
    .textarea::placeholder {
        text-align: center;
        line-height: 22px;
    }
}